//Import the fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Set up font stack
$roboto: "Roboto", sans-serif;

// Set the font weight
$regular: 300;
$medium: 400;

// Override default variables before the import
$body-bg: white;

// First override some or all individual color variables
$midnightblue: #153065;
$darkblue: #274C7D;
$lightblue: #D0F1FE;
$lightcyan: #E0FFFF;
$white: #ffffff;
$firebric: #B12005;
$coral: #FD7547;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
//     primary: $primary,
//     secondary: $secondary,
    success: $midnightblue,
//     info: $info,
//     warning: $warning,
//     danger: $danger,
//     light: $light,
//     dark: $dark,
//     // add any additional color below
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    background: $body-bg;
    font-family: $roboto;
}

.header {
    padding: 25px 0;
    text-align: center;
    background: $midnightblue;
}

.header img {
    width: 200px;
    height: 26px;
}

// .footer {
//   padding: 25px 0;
//   text-align: center;
//   background: midnightblue;
// }

.footer {
    // margin-top: 1rem;
    // padding: 1rem;
    height: 30px;
    background-color: $midnightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.message-table {
    padding: 2rem;
}