//Import the fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Set up font stack
$roboto: "Roboto", sans-serif;

// Set the font weight
$regular: 300;
$medium: 400;

// First override some or all individual color variables
$primary: #153065;
$secondary: #B12005;
$darkblue: #274C7D;
$lightblue: #D0F1FE;
$lightcyan: #E0FFFF;
$white: #ffffff;
$coral: #FD7547;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    light: $lightblue,
    dark: $darkblue,
    white: $white,
    coral: $coral,
    cyan: $lightcyan
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    background: $white;
    font-family: $roboto;
}

.table-info {
    margin: 40px 30px 50px 30px;
    color: $primary;
}

.kuri-icon {
    // margin-top: 50px;
    // margin-left: 40px;
    // border: 1px solid $primary;
    float: left;
    // width: 100px;
    height: 100px;
}

.clear-div {
    clear: right;
}

.table-info-text {
    float: right;
}

.table-info-button {
    float: right;
}

.table-info-button:hover {
    background-color: $secondary;
}

.delete {
    margin-left: 10px;
}

.header {
    padding: 25px 0;
    background-image: url('./assets/PNG/color/gradient_rectangle.png');
    background-repeat: no-repeat;
    background-size: 2000px 100px;
    // background: $primary;
}

.kuri-logo {
    display: inline-block;
    margin-left: 30px;
    height: 26px;
}

.github-logo {
    float: right;
    margin-right: 30px;
}

.footer {
    // margin-top: 1rem;
    // padding: 1rem;
    height: 30px;
    background-color: $primary;
    // background-color: $secondary;
    // background-color: $darkblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.message-table {
    padding: 2rem;
}

.table-items {
    border: 1;
    width: 100%;
}

.table-row {
    color: $primary;
    border-bottom: 0.25px solid $lightblue;
    font-size: 14px;
}

.header-row {
    color: $primary;
    // color: $secondary;
    font-weight: 800;
    font-size: 18px;
}

tr:hover td.cell {
    background: $lightblue;
    color: $coral;
}

td:nth-child(1) {
    width: 275px;
}

td:nth-child(2) {
    width: 200px;
}

td:nth-child(3) {
    width: 500px;
}

td:nth-child(4) {
    width: 10px;
}

td.message-body {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 500px;
}

.dropdown-item {
    font-family: $roboto;
    color: $primary;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: $primary;
    color: $white;
}

.modalForm, .modalTitle {
    font-family: $roboto;
    color: $primary;
    font-weight: bolder;
}

.modalTitle {
    font-size: 20px;
}

.modalForm {
    font-size: 18px;
}

.messageBody, .messageAttributes {
    font-family: $roboto;
    color: $darkblue;
}

.messageID, .messageTimestamp {
    color: $secondary;
}

.messageBody:focus, .messageAttributes:focus {
    color: $darkblue;
}

.dropdown-toggle:active, .dropdown-toggle:focus{
    outline: none !important;
    outline-offset: none !important;
}